body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.divSquare {
    border: 1px solid black;
}
